/* src/styles/StudentList.css */

.student-list-container {
  width: 70%; /* Adjust as needed */
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.student-table-container {
  display: flex;
  justify-content: center;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
}

.student-table th, .student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.student-table th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.edit-button {
  background-color: rgb(76, 193, 233);
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button {
  background-color: rgb(255, 112, 112);
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.view-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.MuiPaginationItem-page.Mui-selected {
  background-color: rgba(0, 123, 255, 0.5); /* Translucent blue background */
  border-radius: 5px; /* Rounded corners */
}